# RUPA
## RUPA
### RUPA
#### RUPA

# PYTHON
- PYTHON1
- PYTHON2

# FONT STYLES
- **PYTHON**
- *PYTHON*
- ***PYTHON***
 # PRINT FUNCTION():
 - **in  python print function used to print specific text or message**

In [1]:
print(" hello world")

 hello world

In [5]:
print(" HELLO,SindU")

 HELLO,SindU

In [3]:
print("rupa"," sindu","anil","prudhvi")

rupa  sindu anil prudhvi

# variable:
-**To store some data valies**

In [6]:
a=10 #single value assinged to single variable
print(a)

10

In [7]:
a=b=c=10 #single value assinged to multiple variable
print(a,b,c)

10 10 10

In [8]:
a,b,c=10,15,20#multiple variable assinged to multiple variable
print(a,b,c)

10 15 20

# input function
- **accept input from user**

In [ ]:
# Input as text
x = input("Enter your name :")
print("your name is:",x)
print(type(x))

In [ ]:
# input as number 
n = int(input("enter a number :"))
print(n)
print(type(n))

# data types:

In [1]:
# Integer
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [2]:
# integer
n = 5
print(n,type(n))
f = float(n)
print(f,type(f))
s = str(n)
print(s,type(s))

5 <class 'int'>
5.0 <class 'float'>
5 <class 'str'>

In [4]:
# string
s = "12345"
print(s,type(s))
n = int(s)
print(n,type(n))
f = float(s)
print(f,type(f))

12345 <class 'str'>
12345 <class 'int'>
12345.0 <class 'float'>

In [6]:
# float
f = 3.2
print(f,type(f))
s = str(f)
print(s,type(s))
n = int(f)
print(n,type(n))

3.2 <class 'float'>
3.2 <class 'str'>
3 <class 'int'>

Display three string “Name”, “Is”, “James” as “Name**Is**James”

In [2]:

C = "NAME"
R = "IS"
P = "JAMES"
print(C,R,P)

NAME IS JAMES

Display three string “Name”, “Is”, “James” as “Name**Is**James”

In [1]:
pi = 3.14
r = int(input("enter radius:"))
print(pi*r*r)

enter radius:5
78.5

In [3]:
a = int(input())
b = int(input())
c = a+b
d = a-b
e = a/b
f = a*b
print(c,d,e,f)

2
4
6 -2 0.5 8

Using input() function, print() function and another function you may need; ask for the current year, then print the answer +50.

In [4]:
x = int(input("enter a year:"))
x = x+50
print(x)

enter a year:2021
2071